body{
    font-family: Arial, Helvetica, sans-serif;
}
.block{
    display: flex;
}
.perso{
    width: 100px;
    border: solid 2px black;
    text-align: center;
}
.text{
    margin: auto;
}
.text1{
    text-decoration: none;
    color: black;
}
.option{
    margin-left: auto;
}
.magasin{
    text-align: center;
    margin: auto;
    width: 800px;
                
}
.inventaire{
    
    width: auto;
          
}

.inventaire h4{

    text-align: center;
}
td{
    width: 300px;
    border: solid 1px black;
    background-color: #b9bbbe;
}
/* Couleur des îcones */
.fa-coins{
    color: goldenrod;
}
.fa-heart{
    color: red;
}
.fa-hat-wizard{
    color: violet;
}
.fa-gem{
    color: #cee4e6;
}
.ri-sword-line{
    color: gray;
}
.ri-shield-line{
    color:brown;
}
.ri-magic-line{
    color: yellow;
}

/* Fin de la couleur des icônes */

.cara{
    font-size: 30px;
    border: solid 5px black ;
    border-radius: 10px;
    background-color: #b9bbbe;
    
       
}
.stat{
    background-color: #8e9297;
}
.nom{
    text-align: center;    
}

.img{
    height: 100px;
    width: 100px;
    border: solid 1px black;
}
.img1{
    text-align: -webkit-right;
}
.center{
    text-align: center;
    color: #110C6A;
    margin-top: 5px;
    font-size: large;
}
.button{
    height: 27px;
    width: 80px;
}
.button1{
    height: 27px;
    width: 102px;
}
.histo{
    bottom: 0px;
    position: absolute;
    margin: inherit;
}
.histo1{
    height: 125px;
    width: 99%;
    border: solid 1px black;
    bottom: 41px;
    position: static;
    background-color: grey;
}
.flex{
    display: flex;
}
.ceinteur{
    text-align: center;
}